{% extends "template.html" %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <a class="btn btn-light ml-auto" href="{{ url_for('index') }}">Home</a>
</nav>
<div class="container">
  <h4>Welcome, {{ name }}</h4>
  <h5>Message History:</h5>
  {% for i in data %}
  {% for j in range(i|length) %}
  {% if i[j][0] == name %}
  <ul style="list-style-type:none;">
    <li> {{ '#' + i[j][3] + ' @ ' + i[j][1] + ' : ' + i[j][2]}} </li>
  </ul>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
{% endblock content %}
